.graphContainer {
  width: 70%;
  border: 5px dashed #00a5d6;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  padding: 15px;
}

.graph {
  margin-left: auto;
  margin-right: auto;
  height: 400px;
}

.graphForm {
  margin-top: 10px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  margin-top: 20px;
}

.chartIcon {
  height: 150px;
  width: 150px;
  border: 3px solid transparent;
  border-radius: 15px;
  padding: 10px;
}

.chartIconSelected {
  border: 3px solid #00a5d6;
}

.radioChoice {
  display: none;
}

.chartType {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.dataType {
  padding: 10px;
  /* width: 250px; */
  font-size: 20px;
  align-content: center;
}

.columnTypeContainer {
  display: flex;
  /* margin: 5px; */
  border: 3px solid transparent;
  border-radius: 15px;
  padding: 5px;
}

.columnTypeSelected {
  border: 3px solid #00a5d6;
}

.radioChoiceLabel {
  width: 150px;
}



/* .radioDataType {
  vertical-align: middle;
  margin-top: 1px;
} */
