.app {
  width: 70%;
  max-width: 1000px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 5px solid #00a5d6;
  border-radius: 15px;
}

body {
  background-color: #00bdf5;
  color: #3b3b3b;
}

.appHeader {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
  /* padding-bottom: -20px; */
  /* border-bottom: 5px solid #00a5d6; */
}

.stampGuy {
  width: 50px;
}

.stampGuyContainer {
  display: inline-flex;
}

.headerTitle {
  display: flex;
  color: black;
  font-family: "Georgia";
  font-weight: bold;
  font-size: 50px;
  /* height: 100px; */
  justify-content: center;
  div {
    margin: 10px;
  }
}